<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

</head>
<body style="margin: 0; padding: 0;">
<div id="app" style="height: 100%; margin: 20px 30px; padding: 0;">
    <h2 style="text-align: center">Парсинг тест клиент</h2>
    <br/>
    <hr/>
    <h4>Введите url для парсинга</h4>
    <div style="display: flex;
    justify-content: start;
    align-items: center;
    max-width: 300px;">
        <el-input placeholder="example.com" v-model="taskURL"></el-input>
        <el-button
                style="margin-left: 20px"
                type="success"
                @click="createParseTask">
            Парсить
        </el-button>
    </div>
    <br/>
    <hr/>
    <h4>Введите id для получения результата парсинга</h4>
    <div style="display: flex;
    justify-content: start;
    align-items: center;
    max-width: 300px;">
        <el-input label="Введите id для получения результата парсинга"
                  placeholder="eda3fb71-9d39-4902-bb5f-d1e2f18d5583"
                  v-model="taskId"></el-input>
        <el-button
                style="margin-left: 20px"
                type="success"
                @click="getTaskResult">
            Отправить
        </el-button>
    </div>
    <el-dialog
            :title="popupTitle"
            :visible.sync="popupVisible"
            width="30%"
            @closed="popupClose">
        <span> {{ popupMessage }}</span>
        <span slot="footer" class="dialog-footer">
    <el-button type="primary" @click="popupVisible = false">Закрыть</el-button>
  </span>
    </el-dialog>
</div>
</body>
<!-- Load Vue-->
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>

<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/element-ui@2.15.1/lib/umd/locale/ru-RU.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js"></script>
<script>
    ELEMENT.lang.ruRU.el.pagination.pagesize = ' на стр.'
    ELEMENT.locale(ELEMENT.lang.ruRU)
    new Vue({
        el: '#app',
        data: function () {
            return {
                taskURL: '',
                taskId: '',
                popupVisible: false,
                popupTitle: '',
                popupMessage: '',
                base_api: 'http://0.0.0.0/api'
            }
        },
        methods: {
            async createParseTask() {
                const resp = await axios.post(`${this.base_api}/parse/${this.taskURL}`)
                if (resp.status === 200) {
                    this.popupTitle = 'Успех!'
                    this.popupMessage = `Задание успешно отправлено. Результат можно получит по id "${resp.data}"`
                } else {
                    this.popupTitle = 'Ошибка'
                    this.popupMessage = 'При создании задания произошла ошибка. Проверьте правильность введенного url'
                }
                this.popupVisible = true
            },
            async getTaskResult() {
                const resp = await axios.get(`${this.base_api}/results/${this.taskId}`)
                if (resp.status === 200) {
                    this.popupTitle = `Результат парсинга по id "${this.taskId}"`
                    this.popupMessage = resp.data
                } else {
                    this.popupTitle = 'Ошибка'
                    this.popupMessage = 'При получении результата произошла ошибка'
                }
                this.popupVisible = true
            },
            onRowClick(row, column, event) {
                //
            },
            popupClose() {
                this.popupTitle = ''
                this.popupMessage = ''
            }
        }
    })
</script>
</html>
